<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailian.mapper.CommonInterfaceExcelSheetContentMapper">

   <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="com.hailian.entity.CommonInterfaceExcelSheetContent">
      <id column="id" property="id" />
      <result column="create_by" property="createBy" />
      <result column="create_date" property="createDate" />
      <result column="update_by" property="updateBy" />
      <result column="update_date" property="updateDate" />
      <result column="remarks" property="remarks" />
      <result column="del_flag" property="delFlag" />
      <result column="x_ip" property="xIp" />
      <result column="y_ip" property="yIp" />
      <result column="sheet_id" property="sheetId" />
      <result column="column_name" property="columnName" />
   </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      create_by,
      create_date,
      update_by,
      update_date,
      remarks,
      del_flag,
      x_ip,
      y_ip,
      sheet_id,
      column_name,
</sql>

</mapper>
