<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailian.mapper.DocUploadFileTempMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hailian.entity.DocUploadFileTemp">
		<id column="id" property="id" />
		<result column="parent_id" property="parentId" />
		<result column="temp_name" property="tempName" />
		<result column="is_public" property="isPublic" />
		<result column="order_no" property="orderNo" />
		<result column="remarks" property="remarks" />
		<result column="create_by" property="createBy" />
		<result column="create_date" property="createDate" />
		<result column="update_by" property="updateBy" />
		<result column="update_date" property="updateDate" />
		<result column="del_flag" property="delFlag" />
		<result column="code" property="code" />
		<result column="icon" property="icon" />
		<result column="url" property="url" />
		<result column="open_type" property="openType" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id,
		order_no as orderNo,
		parent_id as parentId,
		temp_name as tempName,
		code,
		icon,
		url,
		open_type as openType,
		is_public as isPublic,
		remarks,
		create_by as createBy,
		create_date as updateDate,
		update_by as updateBy,
		update_date as
		updateDate,
		del_flag as delFlag
	</sql>
	<select id="findList" parameterType="com.hailian.entity.DocUploadFileTemp"
		resultType="com.hailian.entity.DocUploadFileTemp">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		doc_upload_file_temp where del_flag=0
		<if test="parentId != null and parentId != ''">
			and parent_id =#{parentId}
		</if>

		<if test="isAdmin != 'true'">
			<choose>
				<when test="createBy != null and createBy != ''">
					and (
					create_by=#{createBy}
					<choose>
					<when test="isPublic != null and isPublic != ''">
						or is_public =#{isPublic}
					</when>
					<otherwise>
						or is_public=0
					</otherwise>
					</choose>
					)
				</when>
				<otherwise>
					<choose>
					<when test="isPublic != null and isPublic != ''">
						and is_public =#{isPublic}
					</when>
					<otherwise>
						and is_public=0
					</otherwise>
					</choose>
				</otherwise>
			</choose>
		</if>
		<if test="isAdmin == 'true'">
			<if test="isPublic != null and isPublic != ''">
				and is_public =#{isPublic}
			</if>
		</if>
		<if test="tempName != null and tempName != ''">
			and temp_name like concat('%',#{tempName},'%')
		</if>
		ORDER BY order_no
	</select>

</mapper>
