package ${package.Mapper};
import ${package.Entity}.${entity};
import com.hailian.base.BaseMappers;

/**
  * $!{table.comment}Mapper接口
 * @author ${author}
 * @date ${date}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}


