.star_comment {
    height: auto;
    position: relative;
}
.main_content{
    display: inline;
    font-size: 1.5rem;
}
.content_title{
    height: 5%;
    margin: 0 auto;
}
.content_title>div{
    width: auto;
    display: inline-block;
    padding: 0.6rem 4rem;
/*     background: #122550;
box-shadow: 0 0 10px #00cdfe inset; */
    margin-left: 43%;
}
.title_name{
    padding: 0.6rem 0rem;
    width: 100%;
}
.axis_content{
    padding:0 2%;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.axis_content>div{
    flex: 0 0 31%;
    border: 1px solid #153469;

}
.arrow_box{
    width: 2.5rem;
    height: 2rem;
    position: absolute;
    top: 15px;
    background-size: 100% 100%;
}
.arrow_up{
    background: url("/690Project_web/images/up.gif") no-repeat;
}
.arrow_down{
    background: url("/690Project_web/images/down.gif") no-repeat;
}
.arrow_on{
    background: url("/690Project_web/images/on.gif") no-repeat;
}
.swd_arrow{
    left: 21%;
}
.srzf_arrow{
    left:54%;
}
.lszf_arrow{
    left: 87%;
}
.wg_content>div{
    flex: 0 0 48%;
}
.wg_lsze_arrow{
    left: 29%;
}
.wg_srzf_arrow{
    left: 79%;
}
 .btn_grounp{
    position: absolute;    
    left: 1%;
    top: 1.5%;
    z-index: 999;
}
.btn_grounp .pt_btn{
     padding: 0.3rem 1rem;
     border: 1px solid #0284b5;
     text-align: center;
     vertical-align: middle;
     color: #0284b5;
     margin-right: 2rem;
     cursor: pointer;
     display: inline-block;
 }