.iframe_box{
    height: 94%;
    /*background-color: #00ccff;*/
}

.pt_btn{
    padding: 0.3rem 1rem;
    border: 1px solid #0284b5;
    text-align: center;
    vertical-align: middle;
    color: #0284b5;
    margin-right: 1rem;
    cursor: pointer;
}
.pt_btn_active{
    border: 1px solid #00cdfe;
    color: #00cdfe;
    font-weight: 600;
}
/* .legend{
    margin-left: 69.5%;
} */
.subnav {
  height: 5%;
}
.subnav .row1{
    height: 100%;
    padding-left: 1%;
    position: relative;
}
.column_top{
    height: 17%;
}
.oth_up {
    height: 96%;
}
.submitbox{
    top: 29.5%;
}
.addxname{
    top: unset;
    bottom: 2%;
}
.star_cy{
    margin-left: .25rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background: url("/690Project_web/images/star-on.png") no-repeat;
    background-size: 100% 100%;
}
.dixian{
    height: 10%;
    width: 100%;
    border-right: 1px solid var(--borderColor);
    margin-left: 0.5%;
}
.dixian{
    background: url('/690Project_web/images/sy-y2.jpg') no-repeat;
    background-size: 100% 100%;
}
.xAxis_box .xAxis_numbs{
    float: left;
    width:33%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}